# JetBrains IDEs:
out/

# Dir-based project format:
.idea/

# File-based project format:
*.ipr
*.iws
*.iml

# Eclipse IDE:
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.classpath
.project

# Maven:
target/

# External tool builders:
.externalToolBuilders/

# Locally stored "Eclipse launch configurations":
*.launch
