<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>
        %white(%d{ISO8601}) %highlight(%-5level) [%cyan(%t)] %yellow(%C{1}.): %msg%n%throwable
      </pattern>
    </layout>
  </appender>

  <root level="info">
    <appender-ref ref="stdout" />
  </root>
</configuration>
